# flyctl launch added from .gitignore
**\node_modules
**\build


# Editor directories and files
**\.vscode\*
**\.vscode\extensions.json
**\.idea
**\.DS_Store
**\*.suo
**\*.ntvs*
**\*.njsproj
**\*.sln
**\*.sw?

# Logs
**\logs
**\*.log
**\npm-debug.log*
**\yarn-debug.log*
**\yarn-error.log*
**\pnpm-debug.log*
**\lerna-debug.log*

# flyctl launch added from ClientApp\.gitignore
# Logs
ClientApp\**\logs
ClientApp\**\*.log
ClientApp\**\npm-debug.log*
ClientApp\**\yarn-debug.log*
ClientApp\**\yarn-error.log*
ClientApp\**\pnpm-debug.log*
ClientApp\**\lerna-debug.log*

ClientApp\**\node_modules
ClientApp\**\dist
ClientApp\**\dist-ssr
ClientApp\**\*.local

# Editor directories and files
ClientApp\**\.vscode\*
ClientApp\**\.vscode\extensions.json
ClientApp\**\.idea
ClientApp\**\.DS_Store
ClientApp\**\*.suo
ClientApp\**\*.ntvs*
ClientApp\**\*.njsproj
ClientApp\**\*.sln
ClientApp\**\*.sw?
